*{
    margin: 0;
padding: 0;
/* border: solid 1px orange; */
}
body{
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
img{
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    padding: .8rem 2rem .8rem 2rem ;
border-radius: 2rem; 
background-color: white;}
a.luxurylink{
    color:hsl(179, 100%, 13%) ;
}
a.sedanlink{
    color: hsl(31, 77%, 52%) ;
}
a.suvlink{
    color:hsl(184, 100%, 22%) ;
}
.table{
   
border-radius: 2rem;

display: flex;
    align-items: center;
    justify-content: center;

}
.car{
    
padding: 2.8rem;

}

.sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius:1rem 0 0 1rem  ;
}
.suv{
background-color: hsl(184, 100%, 22%) ;
}

.luxury{
background-color:  hsl(179, 100%, 13%);
border-radius: 0 1rem 1rem 0;
}
.name{
    color: hsl(0, 0%, 95%);
    font-size: 2rem;
    font-weight: 700;
    font-family:  'Big Shoulders Display', cursive;
}
.bodytext{
    margin: 1.5rem 0 3.5rem 0;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.2em;
    width: 25ch;
    font-weight: 400;
    font-size: .7rem;
    font-family:'Lexend Deca', sans-serif ;
}