*{
        margin: 0;
        padding: 0;
}

body{
       
        height: 400vh;
        background-color: rgb(49, 45, 45);


}
.nav{
        display: flex;
        justify-content: center;
}
#head{
        color: rgb(254, 254, 254);
        font-size: 50px;
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
}

        .topics{
                
                font-size: 38px;
              
              display: inline-block;
              padding: 20px;
              margin-bottom: 20px;
        }
        a{
                color: rgb(224, 103, 81);
                font-size: 30px;
                font-family: 'Times New Roman', Times, serif;
        }

        .image{
                margin-left: 40px;
                clear: both;
                margin-bottom: 4rem;
        }
        #About{

          color: rgb(99, 204, 187);
                font-size: 5rem;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
        padding: 3px;
background-color: whitesmoke;}
#Tools{color: rgb(99, 204, 187);
        font-size: 5rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
padding: 3px;
background-color: whitesmoke;

}
#credit{color: rgb(99, 204, 187);
        font-size: 5rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
padding: 3px;
background-color: whitesmoke;

}
#Future{
        color: rgb(99, 204, 187);
        font-size: 5rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
padding: 3px;
background-color: whitesmoke;
}
                
.para{
        font-size: 5rem;
        color: white;
        padding: 4rem;
        margin: 1rem;
}
footer{
        height: 12rem;
        background-color:rgb(246, 246, 246);
        margin: 3rem;
        text-align: right;
        
}
a:hover{
        color: blue;
        padding: 1rem;
        background-color: rgb(49, 177, 147);
        border-radius: 2rem;

}


   