*{
        margin: 0;
        padding: 0;
}
body{
       
        height: 400vh;
}
#head{
        position: relative;
        left : 3rem;
        top: 1rem;
        color: rgb(196, 72, 72);
        margin-bottom: 90px;
}
.boxes{ 
        padding-top: 2rem;
     
}
.box{ 
        height: 11rem;
        width: 11rem;
        border-radius: 12px;
        border: 3px solid black;
        font-size: 29px;
        fon
        
}
a:hover{
       color: green; 
       padding: 1rem;
       
       
       
}
.tools{
       
        background-color:  rgb(239, 239, 239);
        position: relative;
        left: 9rem;
        top: -181px;
}
.credit{
        background-color: rgb(239, 239, 239);
        position: relative;
        left: 42rem;
        top: -22.6rem;
}
.future{
        background-color:  rgb(239, 239, 239);
        position: relative;
        left: 26rem;
        top: 0rem;
}   
.about{
        background-color: rgb(239, 239, 239);
        top: -34rem;
        position: relative;
        left:58rem
}
footer{
        background-color: rgb(173, 53, 53);
        color: rgb(17, 15, 15);
        font-size: 2rem;
        height: 12vh;
}
.bottomlink{
        color: tomato;
        background-color: black;
        padding: 20px;
        border-radius: 45px;
        font-size: 21px;
       
        
}
.foot{
       
        text-align: right;
}
