*{
        margin: 0;
        padding: 0;
}
body{
        background-color: black;
        height: 400vh;
}
#head{
        position: relative;
        left : 3rem;
        top: 1rem;
        color: white;
        margin-bottom: 90px;
}
.boxes{}
.box{ 
        height: 5rem;
        width: 6rem;
        
}
.one{
        height: 5rem;
        background-color: rgb(71, 28, 199);
        position: relative;
        left: 4rem;
}
.two{width: 6rem;
        height: 5rem;
        background-color: rgb(105, 194, 97);
        position: relative;
        left: 8rem;
}
.three{width: 6rem;
        height: 5rem;
        background-color: rgb(215, 102, 208);
        position: relative;
        left: 30rem;
        top: 1rem;
}   
.four{width: 6rem;
        height: 5rem;
        background-color: rgb(60, 123, 174);
        position: relative;
        left: 9rem;
}